body{
    margin: 0px
}
.page-header{
    text-align: center;
    font-size: 30px;
    font-family: 'nunito',sans-serif;
    letter-spacing: 0.5px;
    color: white;
    margin-top: 50px;
    font-weight: bold;
}

.bg-primary{
    background-color: #2c405a;
}
.bg-secondary{
    background-color: #273950;
}

