.token-bg-primary{
    background-color: #212C3D;
}
.token-bg-primary-dark{
    background-color: #0F1724;
}
.token-bg-secondary{
    background-color: #040609;
}
.token-primary-color{
    color: #8AA2CA
}
.token-selected-color{
    color:#11ECE5
}
.token-color-white{
    color:#ffffff
}
